{% extends 'internapp/base2.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
{{message}} 
{% endfor %}
{% endif %}
<div class="row">
    <div class="naxa-head">
        <h2>Welcome To Naxa</h2>
    </div>
    <div class="col-sm-8">
        <div class="l-form">
            <h2 class="text-center">LoginForm</h2>
        <form class="" action ="" method="POST" novalidate>
            {% csrf_token %}
            {% if form.Non_field_errors %}
            {% for error in form.Non_field_errors %}
            {{error}}
            {% endfor %}
            {% endif %}
            {{form.as_p}}
        <input type="submit",class= "btn btn-submit" value="Login"><br>
        </form>
        <p>Did not have an account
        <button class="f-button"><a  href="{% url 'signinpage' %}">signIn</a></button></p>
        </div>
    </div>
</div>

{% endblock content %}